@import '@angular/material/prebuilt-themes/azure-blue.css';

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #f5f7fa;
  color: #0a2540;
}

.container-with-spacing {
  margin: 16px;
}

a.active {
  font-weight: 600;
  text-decoration: underline;
}
